body { margin: 0; padding: 0; color: #666; background: #f2f2f2; font: 14px/1.5 '微软雅黑' ,YaHei,tahoma,arial, "Hiragino Sans GB" ,\5b8b\4f53; }
.clear:after { content: '.'; clear: both; display: block; height: 0; visibility: hidden; font-size: 0; line-height: 0; }
.logo { width: 100px; height: 100px; float: left; background: center url(/images/logo.png) no-repeat; }
.nav-menu{ float:right;}

.nav-menu ul{ list-style-type:none;}
.nav-menu li{width:62px;height:62px;text-align:center;margin-left:20px;float:left;font-size:12px;}
.ui-header-top { background: #555; height: 25px; line-height: 25px; text-align: right; }
.ui-header-top a:link { color: #cccccc; text-decoration: none; }
.ui-header-top a:visited { color: #cccccc; text-decoration: none; }
.ui-header-top a:hover { color: #ffffff; text-decoration: underline; }
.ui-header-top a:active { color: #ffffff; text-decoration: underline; }

.middle-container { width: 960px; margin-left: auto; margin-right: auto; }

.ui-header-top a { padding: 0 10px; height: 24px; line-height: 24px; font-size: 14px; color: #ccc; }

.top-ul { list-style-type: none; }

.top-ul a:link { color: #000000; text-decoration: none; }
.top-ul a:visited { color: #000000; text-decoration: none; }
.top-ul a:hover { color: #00a8eb; text-decoration: underline; }
.top-ul a:active { color: #00a8eb; text-decoration: underline; }

.top-ul li { float: left; display: list-item; margin-left: 20px; }


.marker { width: 16px; height: 16px; cursor: pointer; z-index: 2; position: absolute; top: 1.5px; left: 50px; background: url(/img/main_img.png) no-repeat 0 -84px; }

.markerhover { width: 16px; height: 16px; cursor: pointer; z-index: 2; position: absolute; top: 1.5px; left: 50px; background: url(/img/main_img.png) no-repeat -27px -84px; }

.marker-tip { height: 16px; cursor: pointer; z-index: 2; position: absolute; font-size: 12px; top: -10px; }
.content-middle { width: 960px; margin-left: auto; margin-right: auto; }
.customer { cursor: url(/images/cursor.png),auto; }

.e-message { background-color: #666666; position: absolute; top: 25px; color: white; }

.message-pointer { background: url(/img/main_img.png) no-repeat 0 -122px; width: 14px; height: 18px; position: absolute; top: -11px; z-index: 1; }

.msg { padding: 5px; font-size: 10px; cursor: pointer; z-index: 100; position: relative; }

.wrapper { position: relative; z-index: 3; }
.wrapper .bubble { width: 310px; height: 0px; clear: both; position: absolute; overflow: hidden; }
.wrapper.active .bubble { position: absolute; width: 300px; margin-top: 4px; margin-bottom: 20px; top: 25; height: 70px; font-size: 12px; color: #666; background-color: #fff; background-clip: padding-box; border: 1px solid #ccc; border: 1px solid rgba(0,0,0,0.15); border-radius: 5px; box-shadow: 0 3px 12px rgba(0,0,0,0.25); }

.wrapper.active .title { padding: 2px 10px; background-color: #eeeeee; background-repeat: repeat-x; border-bottom: 1px solid #ddd; font-weight: bold; }
.wrapper.active ul { list-style: none; margin: 0; padding: 0; }
.wrapper.active li { float: left; color: #555; margin-left: 20px; margin-top: 0px; text-decoration: underline; }
.wrapper.active li.selected { font-weight: bold; text-decoration: none; }

.wrapper span { padding-left: 10px; }
.wrapper span:before { position: absolute; top: 10px; right: 10px; display: block; width: 0; height: 0; content: ""; border: 4px solid; border-right-color: transparent; border-left-color: transparent; border-bottom-color: transparent; }
.select-menu { width: 120px; height: 26px; line-height: 26px; cursor: pointer; border-radius: 3px; border: 1px solid #d5d5d5; text-shadow: 0 1px 0 rgba(255,255,255,0.9); background-image: linear-gradient(#fcfcfc, #eee); background-repeat: repeat-x; }

.select-menu-over { width: 120px; height: 26px; line-height: 26px; cursor: pointer; border-radius: 3px; border: 1px solid #d5d5d5; text-shadow: 0 1px 0 rgba(255,255,255,0.9); background-image: linear-gradient(#fcfcfc, #ddd); background-repeat: repeat-x; }






.exam-info { line-height: 30px; }
.exam-info h1 { width: 100%; text-align: left; }
.exam-info .sep { margin-left: 5px; margin-right: 5px; }
/**/
.exam-data { margin-top: 10px; }

.exam-data-list { width: 380px; padding-right: 15px; float: left; border-right: 2px #cccccc solid; font-size: 10px; }
.exam-data-list .menu { margin-top: 3px; padding-top: 0; height: 30px; margin-bottom: 10px; background: #ebeff9; }
.exam-data-list .menu dt { float: left; font-size: 12px; line-height: 26px; }

.exam-data-list .menu dd { float: left; margin: 2px 5px 0 5px; }

.exam-data-list .menu .button { color: #333; text-shadow: 0 1px 0 rgba(255,255,255,0.9); white-space: nowrap; background-color: #fff; background-repeat: repeat-x; border-radius: 3px; border: 1px solid #d5d5d5; vertical-align: middle; cursor: pointer; }
.exam-data-list .menu .button:hover, .button:active { text-decoration: none; background-color: #cccccc; background-image: linear-gradient(#eee, #ddd); background-repeat: repeat-x; border-color: #ccc; }
.exam-data-list .menu a { display: inline-block; height: 25px; line-height: 25px; padding: 0 5px; font-size: 13px; text-decoration: none; }
.exam-data-list .menu .score { width: 50px; height: 25px; line-height: 25px; margin: 0; border: 1px solid #cccccc; padding-left: 10px; font-size: 12px; color: #ffffff; background: #1886c5; font-weight: bold; position: relative; }



.exam-data-list .table { width: 100%; }

.exam-chart { width: 550px; float: right; margin: 0; padding: 0; }
.exam-chart dt { float: left; }
.exam-chart dd { float: right; }
.hdg .title { height: 30px; line-height: 30px; font-size: 15px; font-weight: bold; margin: 0; padding: 0; border-bottom: 1px solid #d5d5d5; background: #ebeff9; margin-bottom: 10px; padding-left: 10px; }
.hdg .menu { width: 100%; margin: 5px 0px; }
.hdg .menu dt { line-height: 30px; margin-right: 10px; }
.hdg .menu dd { line-height: 30px; margin: 2px 10px 0 0; padding: 0; }
.hdg .menu .button { color: #333; text-shadow: 0 1px 0 rgba(255,255,255,0.9); white-space: nowrap; background-color: #fff; background-repeat: repeat-x; border-radius: 3px; border: 1px solid #d5d5d5; vertical-align: middle; cursor: pointer; }
.hdg .button:hover, .button:active { text-decoration: none; background-color: #cccccc; background-image: linear-gradient(#eee, #ddd); background-repeat: repeat-x; border-color: #ccc; }
.hdg .menu a { display: inline-block; height: 25px; line-height: 25px; padding: 0 5px; font-size: 13px; text-decoration: none; }

.score-analysis { width: 100%; background: #cccccc; margin-bottom: 10px; border-width: 0px; border-spacing: 1px; }
.score-analysis td { padding: 0 0px; }
.score-analysis thead td { background: #eeeeee; font-weight: bold; height: 25px; color: #000; }
.score-analysis tr { margin: 0; padding: 0; border-width: 0px; }
.score-analysis tbody td, .score-analysis tfoot td { border-width: 0px; margin: 0; background: #ffffff; }

.score-analysis span { display: block; width: 100%; height: 100%; margin: 0; padding: 0; }
.highlight span { background: #ebeff9; }

.thumbs { width: 100px; float: right; margin-bottom: 20px; }
.thumbs a { width: 30px; height: 30px; display: block; float: right; margin-left: 10px; }

.share { border: 1px solid #dee3e3; background: #f7f7f7; padding: 10px; margin: 10 0px 15px 0px; }
.share .tit { float: left; font-size: 12px; display: block; height: 25px; line-height: 25px; margin-right: 5px; }
.share a { float: left; display: block; width: 25px; height: 25px; background-image: url(/images/share.png); margin-right: 8px; overflow: hidden; -moz-opacity: 0.70; opacity: .70; filter: alpha(opacity=70); }
.share a:hover, .test a:active { -moz-opacity: 1; opacity: 1; filter: alpha(opacity=100); }
.share .icon-weixin { background-position: -35px 0; }


#overlay {width:100%;height:100%;  position: absolute; left: 0; top: 0; bottom: 0; right: 0; background: #ccc; opacity: 0.8; filter: alpha(opacity=70); z-index:999; }
#loading { width: 50px; height: 57px; position: absolute; top: 50%; left: 50%; margin: -28px 0 0 -25px;z-index:999; }


/* footer */
.footer { background: #555; height: 50px; margin-top: 50px; }
.footer .text { color: #808080; text-align: center; padding-top: 15px; }