@model MvcTest.Models.LocalPasswordModel
@{
    ViewBag.Title = "修改账号密码";
}
@section Head {
    <style type="text/css">
        .validation-summary-errors { color: #f00; }
        .change_password_list { list-style-type: none; }
        .change_password_list label { display: inline-block; width: 100px; text-align: right; }
        .btn_submit { margin-left: 145px; }
    </style>
}
<div class="middle-container">
    <p class="message-success">@ViewBag.StatusMessage</p>
    <p>
        当前登录的用户: <strong>@User.Identity.Name</strong></p>
    @Html.Partial("_ChangePasswordPartial")
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
