@{
    Layout = "~/Views/Shared/Unauthorized_Layout.cshtml";
    ViewBag.Title = "";
}
@section head {
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/jquery-ui-1.10.4.custom.js"></script>
    <script src="/Scripts/register.js"></script>
    <link href="/Content/css/register.css" rel="stylesheet" />
}
<div class="middle-container clear" style="margin-top: 10px;">
</div>
