@{
    ViewBag.Title = "";
}
@section head {
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/jquery-ui-1.10.4.custom.js"></script>
    <script src="/Scripts/swfobject.js"></script>
    <script src="/Scripts/student.detail.js"></script>
    <link href="/Content/css/student.detail.css" rel="stylesheet" />
}
<div class="middle-container clear" style="margin-top: 10px;">
    <div class="clear">
        <div class="fl left_side">
            <div class="exam_title">
                学生学业水平数据</div>
            <table class="student_info" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        学校：江南中学
                    </td>
                    <td>
                        班级：初二（3）班
                    </td>
                    <td>
                        学号：20140442688
                    </td>
                    <td>
                        姓名：谢思敏
                    </td>
                </tr>
            </table>
            <div class="nav">
                初二 〉</div>
            <div style="height: 300px;">
            </div>
            <div class="title">
                班主任评语/留言
            </div>
            <table class="teacher_message">
                <thead>
                    <tr>
                        <td class="no">
                            序号
                        </td>
                        <td class="time">
                            时间
                        </td>
                        <td>
                            内容
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            2013年12月1日
                        </td>
                        <td>
                            *********************************
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2
                        </td>
                        <td>
                            2013年12月1日
                        </td>
                        <td>
                            *********************************
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3
                        </td>
                        <td>
                            2013年12月1日
                        </td>
                        <td>
                            *********************************
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="fr right_side">
            <!--  question -->
            <div class="question">
                <p class="title">
                    常见问题：</p>
                <p>
                    1.成绩数据从哪里来？</p>
                <p>
                    答：所有成绩由科任老师上传，数据真实准确。</p>
                <p>
                    2.左边的图怎么理解？</p>
                <p>
                    答：每个数据点有综合各科测验考试成绩后得出，数据点越高表示学业水平越高，连线为各个数据点的平均线，该线能显示趋势？</p>
                <p>
                    3.考试分数高了为什么图表却显示退步？</p>
                <p>
                    答：因为多数考生分数也提高了，且提高幅度比该考生达，因此该考生应属于退步。</p>
            </div>
            <!--  teacher section -->
            <div class="text_box">
                <div class="title">
                    对该学生的印象：</div>
                <div class="tag_list_container">
                    <ul class="tag_list clear">
                    </ul>
                </div>
                <div class="tag_add_box">
                    <input type="text" id="txtAddTag" class="txt txt_bg" />
                    <input type="button" id="btnAddTag" class="btn" value="添加标签" />
                </div>
                <div style="margin: 10px 0 10px 0;">
                    其他老师对他/她的印象：</div>
                <ul class="tag_option_list clear">
                    <li>活泼</li><li>聪明</li><li>可爱</li><li>开朗</li><li>努力</li>
                </ul>
            </div>
            <!--  Appraise teacher section -->
            <div class="text_box">
                <div class="title">
                    给老师打个分吧：</div>
                <ul class="stars">
                    <li>
                        <label>
                            班主任 : XXX</label><span class="ks-simplestar"><img src="/images/star-1.png"><img src="/images/star-1.png"><img
                                src="/images/star-1.png"><img src="/images/star-1.png"><img src="/images/star-1.png"></span></li>
                    <li>
                        <label>
                            语文:XXX</label><span class="ks-simplestar"><img src="/images/star-1.png"><img src="/images/star-1.png"><img
                                src="/images/star-1.png"><img src="/images/star-1.png"><img src="/images/star-1.png"></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="middle-container course clear">
    <ul class='tabs'>
        <li><a href='#tab1'>语文</a></li>
        <li><a href='#tab2'>数学</a></li>
        <li><a href='#tab3'>英语</a></li>
        <li><a href='#tab3'>政治</a></li>
        <li><a href='#tab3'>物理</a></li>
        <li><a href='#tab3'>化学</a></li>
    </ul>
    <div id='tab1' class="tab_content">
        <div class="course_box clear">
        <div class="left_side fl">
            <div style="height: 300px;">
            </div>
            <table class="teacher_message">
                <thead>
                    <tr>
                        <td class="no">
                            序号
                        </td>
                        <td class="time">
                            时间
                        </td>
                        <td>
                            内容
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            2013年12月1日
                        </td>
                        <td>
                            *********************************
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2
                        </td>
                        <td>
                            2013年12月1日
                        </td>
                        <td>
                            *********************************
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3
                        </td>
                        <td>
                            2013年12月1日
                        </td>
                        <td>
                            *********************************
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="right_side fr">
            <img src="../../Images/ads.png" />
        </div>
    </div>
    </div>
    <div id='tab2' class="tab_content">
        This is the 2nd tab.
    </div>
    <div id='tab3' class="tab_content">
        And this is the 3rd tab.
    </div>
</div>
