@model MvcTest.Models.HeadTeacherModel
@{
    ViewBag.Title = "";
}
@section head {
    <link href="/Content/css/theknot.colorbox.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/jquery-ui-1.10.4.custom.js"></script>
    <script src="/Scripts/jquery.colorbox-min.js"></script>
    <script src="/Scripts/swfobject.js"></script>
    <script src="/Scripts/head-teacher.js"></script>
    <style type="text/css">
        .big_title { margin: 10px 0px; text-align: center; font-weight: bold; font-size: 30px; }
        .clear:after { content: '.'; clear: both; display: block; height: 0; visibility: hidden; font-size: 0; line-height: 0; }
        .tag_list { margin: 0; padding: 0; list-style-type: none; }
        .tag_list li { float: left; margin: 2px 3px 2px 0; position: relative; font-size: 11px; line-height: 13px; position: relative; }
        .tag_list li .name { background-color: #588a00; border-radius: 11px 0 0 11px; float: left; margin-right: 16px; color: #fff; padding: 2px 4px 2px 6px; text-decoration: none; font-size: 11px; line-height: 13px; }
        .tag_list li .remove { position: absolute; top: 0; bottom: 0; right: 0; border-radius: 0 11px 11px 0; padding: 2px 4px 2px 6px; color: #e0e0e0; padding: 0; width: 16px; background-color: #588a00; border-left: 1px solid #b2d165; }
        .tag_list li .remove:after { float: left; font-size: 11px; line-height: 13px; content: "\00D7"; margin: 1px 0 0 3px; }
        
        .wrapper { position: relative; z-index: 3; }
        .wrapper .bubble { width: 310px; height: 0px; clear: both; position: absolute; overflow: hidden; }
        .wrapper.active .bubble { position: absolute; width: 300px; height: 100px; margin-top: 4px; margin-bottom: 20px; top: 25; font-size: 12px; color: #666; background-color: #fff; background-clip: padding-box; border: 1px solid #ccc; border: 1px solid rgba(0,0,0,0.15); border-radius: 5px; box-shadow: 0 3px 12px rgba(0,0,0,0.25); }
        .wrapper .dropdown { width: 10px; height: 100%; margin-right: 5px; background: url(/Content/css/images/dropdown_arrow.png) no-repeat center; }
        .wrapper.active .title { padding: 2px 10px; background-color: #eeeeee; background-repeat: repeat-x; border-bottom: 1px solid #ddd; font-weight: bold; }
        .wrapper.active .title span { display: block; float: right; width: 20px; height: 20px; cursor: pointer; background: url(/Content/css/images/box_close.png) no-repeat center; }
        .wrapper.active ul { list-style: none; margin: 0; padding: 0; }
        .wrapper.active li { float: left; color: #555; margin-left: 20px; margin-top: 5px; text-decoration: underline; cursor: pointer; }
        .wrapper.active li.selected { font-weight: bold; text-decoration: none; }
        
        .select-menu { width: 120px; height: 26px; line-height: 26px; cursor: pointer; border-radius: 3px; border: 1px solid #d5d5d5; text-shadow: 0 1px 0 rgba(255,255,255,0.9); }
        .select-menu-over { width: 120px; height: 26px; line-height: 26px; cursor: pointer; border-radius: 3px; border: 1px solid #d5d5d5; text-shadow: 0 1px 0 rgba(255,255,255,0.9); background-image: linear-gradient(#fcfcfc, #ddd); background-repeat: repeat-x; }
        .title { font-size: 16px; font-weight: 900; }
        
        #awardForm { margin-top: 30px; }
        #awardForm table { width: 350px; margin-left: 25px; }
        .td1 { width: 60px; text-align: left; }
        .td2 textarea { width: 260px; }
        
        .awardList { width: 100%; text-align: left; font-weight: 100; }
        .awardList thead { font-weight: bold; }
    </style>
}
<div class="middle-container clear" style="margin-top: 10px;">
    <!-- -->
    <div class="big_title">
        江南中学 初二1班 学业水平数据</div>
    <div class="clear">
        <div class="fl">
            <div style="">
                <div id="altContent">
                    <h1>
                        Chart</h1>
                    <p>
                        <a href="http://www.adobe.com/go/getflashplayer">Get Adobe Flash player</a></p>
                </div>
            </div>
        </div>
        <div class="fr" style="width: 300px; overflow: hidden; line-height: 2;">
        <!-- -->
            <span style="font-weight: bold;">常见问题：</span>
            <br />
            1. 成绩数据从哪里来？<br />
            答：所有成绩有科任老师上传，数据真实准确。<br />
            2.左边的图怎么理解？<br />
            答：每个月的数据点由综合各科数据后得出，数据点越高表示整个班级学业水平越高；连线为当月及之前所有数据点的平均值，该线显示趋势。<br />
            3.数据点的值是怎么计算出来的？<br />
        </div>
    </div>
    <!-- -->
    <div class="title">
        班级奖惩记录：</div>
    <table class="awardList">
        <thead>
            <tr>
                <td>
                    序号
                </td>
                <td>
                    奖/惩
                </td>
                <td>
                    日期
                </td>
                <td>
                    内容
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var award in Model.Awards)
            {
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        @(award.IsGood ? "奖" : "惩")
                    </td>
                    <td>
                        @award.EventTime.ToString("yyyy年MM月dd日")
                    </td>
                    <td>
                        @award.Content
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input id="btnOpenAddAward" type="button" value="添加" />
    <div class="title">
        各科数据图表：</div>


</div>
<div class="middle-container">
    <ul id="products">
    </ul>
    <br />
    <br />
</div>
<div class="hidden">
    <form id="awardForm">
    <table>
        <thead>
            <tr>
                <td class="td1">
                    类别:
                </td>
                <td class="td2">
                    <label>
                        奖</label>
                    <input type="radio" name="IsGood" value="1" checked="checked" />
                    <label>
                        惩</label>
                    <input type="radio" name="IsGood" value="0" />
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td valign="top" class="td1">
                    内容:
                </td>
                <td class="td2">
                    <textarea name="Content" rows="4"></textarea>
                </td>
            </tr>
            <tr>
                <td class="td1">
                </td>
                <td class="td2">
                    <input id="btnClose" type="button" value="关闭" />
                    <input id="btnAddAward" type="button" value="添加" />
                </td>
            </tr>
        </tbody>
    </table>
    </form>
</div>
